.dub/
.project
.settings/
./aedi
dub.selections.json
.dlangidews
.dlangidews.wssettings
__dummy.html
docs.json
docs/
libaedi-property-reader.a
aedi-property-reader.iml
out/
.idea/
__test__library__
*.lst
aedi-property-reader-test-library
aedi-property-reader-test-unittest
.vscode/
aedi-property-reader-workspace.code-workspace
